:root {
  --main-color: #4ca8af;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.header {
  background-color: var(--main-color);
  color: white;
  text-align: left;
  padding: 0.5em 1em;
  font-size: 2em;
}

.main {
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  margin: 0.5em 0;
  padding: 1em 2em;
  background-color: white;
  border-radius: 10px;
  font-size: 1.2em;
}
.content li {
  list-style: none;
}

.profiles {
  line-height: 3em;
}
.section-title {
  color: var(--main-color);
  border-left: var(--main-color) solid 10px;
  font-size: 36px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

/*.my-profile h1, */
.main h1 {
  /*border-bottom: 2px solid var(--main-color);*/
  padding-bottom: 0.5em;
  color: var(--main-color);
}

.self-intro {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
}

.my-picture {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.img-box {
  text-align: center;
  margin: 1em;
}
.univ-picture {
  width: 80%;
  height: 20em;
  object-fit: cover;
  margin: auto;
}

.dome-picture {
  width: 60%;
  object-fit: cover;
}

.quiz-buttons {
  display: flex;
  text-align: center;
}

.quiz-button {
  margin: 0.5em 0.5em;
  padding: 0.2em 0.5em;
  color: white;
  background-color: #3d868b;
}

.frip-intro {
  display: flex;
  justify-content: space-between;
}

.frip-picture {
  width: 80%;
  object-fit: cover;
}

.img-box-2 {
  text-align: center;
  width: 50%;
  margin: 1em;
}

.text {
  width: 50%;
}

.footer {
  background-color: var(--main-color);
  color: white;
  text-align: left;
  padding: 2em 2em;
  font-size: 2em;
}
